.about-section {
    width: 100%;
    height: 90vh;
    top: 0;
    margin-top: 0;
    text-align: center;
    overflow-x: hidden;
}

.photo-section {
    width: 10%;
    margin: 0 auto;
    margin-top: 2%;
}

.about-photo {
    width: 100%;
    border-radius: 20%;
    border: 2px solid white;
}

.about-text {
    width: 60%;
    margin: 0 auto;
    color: white;
    margin-top: 2%;
    font-size: 25px;
}

.wordcloud-section {
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    border: 4px solid white;
}

/*Div-border is used for testing purposes to see exactly where a div is located.*/
.div-border {
    border: 2px solid magenta;
}

@media only screen and (max-width: 920px) { 
    .photo-section {
        width: 35%;
    }

    .about-text {
        width: 80%;
        font-size: 12px;
    }

    .wordcloud-section {
        width: 80%;
        height: 50%;
    }
}