.about-section {
    height: 100vh;
    width: 100%;
    top: 0;
    margin-top: 0;
    text-align: center;
    overflow-x: hidden;
}

.about-area {
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

.top-section {
    width: 100%;
    height: 40%;
}

.photo-section {
    width: 18%;
    height: 100%;
    margin: 0 auto;
}

.about-photo {
    width: 80%;
    border-radius: 20%;
    border: 2px solid white;
}

.bottom-section {
    width: 100%;
    height: 60%;

}

.text-section {
    height: 100%;
    width: 60%;
    margin-left: 20%;
}

.div-border {
    border: 2px solid magenta;
}