/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
/*Indie Flower*/

/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */
/*Architects Daughter*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.home-section {
    height: 100vh;
    margin-left: 500px;
    top: 0;
    margin-top: 0;
}

.title {
    color: white;
}

.intro-firstname {
    margin-top: 120px;
    margin-left: 120px;
    font-size: 10em;
    color: white;
}

.intro-lastname {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 290px;
    font-size: 12em;
    color: white;
}
