body {
    margin: 0;
}

.Navbar {
    background-color: black;
    border-bottom: 4px solid white;
    width: 100%;
    height: 150px;
    display: flex;
    position: fixed;
    z-index: 3;
}

.Navbar .leftSide {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-area {
    width: 110px;
    margin-left: 10%;
    cursor: pointer;
}

.logo {
    width: 110px;
    border-radius: 50%;
    border: 2px solid white;
}

.logo:hover {
    border: 2px solid orange;
}

.Navbar .leftSide .nav-links {
    max-height: 150px;
    padding-left: 3%;
}

.Navbar .leftSide button #ham {
    display: none;
}

.Navbar .leftSide .ham-menu {
    display: none;
}

.Navbar .leftSide #hidden {
    display: flex;

}

.Navbar .rightSide {
    flex: 50%;
    display: flex;
    justify-content: right;
}

.nav-dl-cv {
    width: 180px;
    background-color:transparent;
	border-radius:28px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 18px;
	padding: 8px 16px;
	text-decoration:none;
    margin-left: 35px;
}

.nav-dl-cv:hover {
    color: white;
    border: 2px solid orange;
}

.contact-icons {
    padding-right: 55px;
}

.mail-icon {
    color: white;
    cursor: pointer;
}

.mail-icon:hover {
    color: orange;
}

.github-icon {
    color: white;
    cursor: pointer;
    margin-left: 35px;
}

.github-icon:hover {
    color: orange;
}

.linkedin-icon {
    color: white;
    margin-left: 35px;
    cursor: pointer;
}

.linkedin-icon:hover {
    color: orange;
}

@media only screen and (max-width: 1255px) {
    .Navbar .leftSide .nav-btn {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1185px) {
    .Navbar .leftSide .nav-btn {
        margin-left: 12px;
        width: 80px;
        font-size: 16px;
    }
}


@media only screen and (max-width: 1000px) {
    .Navbar .leftSide .nav-btn {
        margin-left: 10px;
        width: 70px;
        font-size: 14px;
    }

    .Navbar .rightSide {
        align-items: center;
    }

    .mail-icon {
        display: none;
    }
    
    .nav-dl-cv {
        display: none;
    }
}

/* Following settings are for devices with a total width of 760px or less.
   The navigation bar will collapse into a hamburger menu with the navigation links. */
@media only screen and (max-width: 920px) {
    .Navbar .leftSide button {
        display: flex;
    }

    .Navbar .leftSide .ham-menu {
        color: white;
        cursor: pointer;
        margin-left: 5%;
        display: flex;
        left: 0;
        position: absolute;
    }

    .Navbar .leftSide .logo-area {
        display: flex;
        margin-left: 110px;
    }

    .Navbar .leftSide .nav-links {
        display: none;
        padding-left: 0;
    }

    .Navbar .leftSide #hidden {
        position: absolute;
        left: 0px;
        top: 150px;
        max-height: 300px;
        height: auto;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 4px solid white;
    }

    .nav-btn {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .Navbar .leftSide #hidden a {
        margin: 2px;
        font-size: 25px;
    }

    .Navbar .leftSide .nav-links .nav-button {
        border: none;
    }

    .Navbar .leftSide .nav-links .nav-button:hover {
        color: white;
    }

    .logo:hover {
        border: 2px solid white;
    }
    /*Unsure whether or not I want the hover effect on the GitHub and LinkedIn logos while
      the hamburger menu is activated.*/
      
    /* .github-icon:hover {
        color: white;
    }

    .linkedin-icon:hover {
        color: white;
    } */
}

@media only screen and (max-width: 440px) {

    .Navbar .leftSide .logo-area {
        display: none;
    }

    .Navbar .rightSide {
        flex: 100%;
    }
}

.div-border {
    border: 2px solid magenta;
}